<div class="alert alert-success" *ngIf="successMsg">
    <p>Sidebar updated.</p>
</div>

<h1 class="page-title">Edit sidebar</h1>
<a routerLink='/admin/pages'>Back to all pages</a>
<br>
<br>

<form novalidate #f="ngForm" (ngSubmit)="editSidebar(f)">
    <div class="form-group">
        <label for="">Content:</label>
        <textarea name="content" cols="30" rows="10" class="form-control" placeholder="Content" [(ngModel)]="content"></textarea>
    </div>

    <input type="hidden" name="id" [(ngModel)]="id">

    <div class="form-group">
        <button class="btn btn-default" [disabled]="!f.valid">Update sidebar</button>
    </div>
</form>